PORT=4400
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@db:5432/chatapp
CORS_ORIGINS=http://localhost:5173

JWT_SECRET=supersecretjwt
JWT_EXPIRES_IN=1d

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=username
SMTP_PASS=password
SMTP_SECURE=false
SMTP_FROM="Acme App <no-reply@example.com>"

AWS_REGION=us-east-1
AWS_S3_BUCKET=your-bucket
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key

